.profile {
  display: grid;
  grid-template-areas: "avatar txtInfo";
  grid-template-columns: max-content 1fr;
  /* grid-template-rows: 488px; */
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
}
