.profile__edit-info {
  height: 24px;
  width: 24px;
  align-self: flex-end;
  margin-bottom: 8px;
}
@media screen and (max-width: 585px) {
  .profile__edit-info {
    width: 18px;
    height: 18px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 320px) {
  .profile__edit-info {
  }
}
