.popup-form {
  height: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  flex-direction: column;

  width: 100%;
  max-width: 430px;
  min-width: 282px;
  display: grid;
  padding-bottom: 36px;
  grid-template-columns: minmax(36px, 1fr) 10fr minmax(36px, 1fr);
  grid-template-areas:
    ". frmTitle ."
    ". txtName ."
    ". txtTitle ."
    ". btnSubmit .";
}

@media screen and (max-width: 585px) {
  .popup-form {
    grid-template-columns: minmax(22px, 1fr) 10fr minmax(22px, 1fr);
    max-height: 322px;
    padding-bottom: 25px;
  }
}
